<div class="wrapper full-width">
    <div class="auto-width">
        <section class="banner full-width">
            <figure><img src="assets/images/banner1.jpg" alt="banner" title="banner"></figure>
            <div class="container">
                <div class="row">
                    <div class="full-width banner-content">
                        <h1>Pram Bedding</h1>
                        <p>Gift-wrapped with beautiful environmentally friendly packaging</p>
                        <div class="see-more">
                            <a href="javascript:void(0)">
                                See More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="latest-arrival full-width">
            <div class="container">
                <div class="row">
                    <div class="full-width">
                        <div class="sub-heading full-width">
                            <h2>Latest Arrivals</h2>
                            <span class="view-all">
                                View all
                            </span>
                        </div>
                        <div class="full-width">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image1.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image2.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Paper Craft</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image3.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wooden Rocking Pyramid</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 image-wrap">
                                    <div class="full-width">
                                        <div class="image-hover">
                                            <figure>
                                                <img src="assets/images/image4.jpg" alt="image" title="image">
                                            </figure>
                                            <a href="javascript:void(0)" class="show-now">
                                                Shop Now
                                            </a>
                                        </div>
                                        <div class="fig-caption full-width">
                                            <p>Wood Carving</p>
                                            <span>Rs 200</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="image-layer-2 full-width">
            <div class="container">
                <div class="row">
                    <div class="full-width">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 image-wrap-2">
                                <a href="javascript:void(0)" class="full-width image-hover-2">
                                    <figure>
                                        <img src="assets/images/banner.jpg" alt="image" title="image">
                                    </figure>
                                    <span>
                                        Toys
                                    </span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 image-wrap-2">
                                <a href="javascript:void(0)" class="full-width image-hover-2">
                                    <figure>
                                        <img src="assets/images/banner.jpg" alt="image" title="image">
                                    </figure>
                                    <span>
                                        Toys
                                    </span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 image-wrap-2">
                                <a href="javascript:void(0)" class="full-width image-hover-2">
                                    <figure>
                                        <img src="assets/images/banner.jpg" alt="image" title="image">
                                    </figure>
                                    <span>
                                        Toys
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>